In [1]:

%matplotlib inline
import os
import pandas as pd
import numpy as np
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM
from keras.layers import SimpleRNN

from sklearn.preprocessing import MinMaxScaler
import matplotlib.pyplot as plt
import math
from sklearn.metrics import mean_squared_error
import FinanceDataReader as fdr
import tensorflow as tf

import matplotlib.pyplot as plt
from pathlib import Path
from shutil import copyfile, move
from mpl_finance import candlestick2_ochl

Using TensorFlow backend.

In [33]:
df = fdr.DataReader("KS11","2009")
y=np.where(df["Change"].shift(-1).dropna()>0,1,0)

inputs= df
inputs

              Close     Open     High      Low       Volume  Change
Date
2009-01-02  1157.40  1132.87  1157.40  1118.84  340780000.0  0.0293
2009-01-05  1173.57  1180.98  1185.22  1166.66  414760000.0  0.0140
2009-01-06  1194.28  1183.52  1203.59  1179.94  444200000.0  0.0176
2009-01-07  1228.17  1198.85  1228.56  1195.20  568560000.0  0.0284
2009-01-08  1205.70  1212.70  1218.43  1195.15  472340000.0 -0.0183
...             ...      ...      ...      ...          ...     ...
2020-02-03  2118.88  2086.61  2126.73  2082.74     827340.0 -0.0001
2020-02-04  2157.90  2121.22  2162.32  2120.53     616270.0  0.0184
2020-02-05  2165.63  2177.26  2181.52  2154.88     563120.0  0.0036
2020-02-06  2227.94  2184.77  2229.99  2182.25     683230.0  0.0288
2020-02-07  2211.95  2221.49  2223.92  2198.14     766710.0 -0.0072

[2745 rows x 6 columns]

In [36]:
df=pd.read_csv('kospi.csv')
df=df.reset_index(inplace=True)
print(df)

            Date    Close     Open     High      Low       Volume  Change
0     2009-01-02  1157.40  1132.87  1157.40  1118.84  340780000.0  0.0293
1     2009-01-05  1173.57  1180.98  1185.22  1166.66  414760000.0  0.0140
2     2009-01-06  1194.28  1183.52  1203.59  1179.94  444200000.0  0.0176
3     2009-01-07  1228.17  1198.85  1228.56  1195.20  568560000.0  0.0284
4     2009-01-08  1205.70  1212.70  1218.43  1195.15  472340000.0 -0.0183
...          ...      ...      ...      ...      ...          ...     ...
2740  2020-02-03  2118.88  2086.61  2126.73  2082.74     827340.0 -0.0001
2741  2020-02-04  2157.90  2121.22  2162.32  2120.53     616270.0  0.0184
2742  2020-02-05  2165.63  2177.26  2181.52  2154.88     563120.0  0.0036
2743  2020-02-06  2227.94  2184.77  2229.99  2182.25     683230.0  0.0288
2744  2020-02-07  2211.95  2221.49  2223.92  2198.14     766710.0 -0.0072

[2745 rows x 7 columns]

In [5]:
df = fdr.DataReader("KS11","2009")
y=np.where(df["Change"].shift(-1).dropna()>0,1,0)

df=pd.read_csv('kospi.csv')
inputs=df.set_index("Date")

seq_len = 20
dimension = 48

figures, labels = ohlc2cs(inputs, seq_len, dimension)

figures = figures/255.0

setlen = int(len(df) * 0.7)
X_train,X_test,Y_train,Y_test = figures[:setlen],figures[setlen:],np.array(labels[:setlen]),np.array(labels[setlen:])

NameError: name 'ohlc2cs' is not defined