In [1]:

%matplotlib inline
import os
import pandas as pd
import numpy as np
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM
from keras.layers import SimpleRNN

from sklearn.preprocessing import MinMaxScaler
import matplotlib.pyplot as plt
import math
from sklearn.metrics import mean_squared_error
import FinanceDataReader as fdr

Using TensorFlow backend.

In [41]:
pandf = fdr.DataReader("HSI","2009-01-01","2019-01-01")[0:200]

In [54]:
pandf

               Close      Open      High       Low  Volume  Change
Date
2009-01-02  15042.81  14448.22  15042.81  14412.12     0.0  0.0455
2009-01-05  15563.31  15349.33  15563.31  15128.32     0.0  0.0346
2009-01-06  15509.51  15612.47  15651.61  15367.93     0.0 -0.0035
2009-01-07  14987.46  15759.53  15763.55  14976.74     0.0 -0.0337
2009-01-08  14415.91  14755.81  14755.81  14334.15     0.0 -0.0381
...              ...       ...       ...       ...     ...     ...
2009-10-12  21299.35  21623.33  21623.33  21262.71     0.0 -0.0093
2009-10-13  21467.36  21371.82  21679.15  21371.82     0.0  0.0079
2009-10-14  21886.48  21564.33  21893.42  21562.66     0.0  0.0195
2009-10-15  21999.08  22209.19  22250.35  21971.48     0.0  0.0051
2009-10-16  21929.90  22138.06  22143.01  21899.17     0.0 -0.0031

[200 rows x 6 columns]

In [42]:
#특성 추가 ------------------------------------------
    #이동평균선
def get_MA(df):
    MA_26=df["Close"].rolling(26).mean()
    MA_52=df["Close"].rolling(52).mean()
    df=df.assign(MA_26=MA_26,MA_52=MA_52).dropna()
    
    return df

    
    #스토캐스틱
def get_stochastic(df, n=15, m=5, t=3):
    # n일중 최고가
    ndays_high = df.High.rolling(window=n, min_periods=1).max()
    # n일중 최저가
    ndays_low = df.Low.rolling(window=n, min_periods=1).min()
 
    # Fast%K 계산
    kdj_k = ((df.Close - ndays_low) / (ndays_high - ndays_low))*100
    # Fast%D (=Slow%K) 계산
    kdj_d = kdj_k.ewm(span=m).mean()
    # Slow%D 계산
    kdj_j = kdj_d.ewm(span=t).mean()
 
    # dataframe에 컬럼 추가
    df = df.assign(kdj_k=kdj_k, kdj_d=kdj_d, kdj_j=kdj_j).dropna()
    
    return df
   
    #시간
def get_time(df):
    time=np.linspace(0,10,len(df),endpoint=False).reshape(-1,1)
    df=df.assign(time=time)
    
    return df

In [43]:
df=pandf
df=get_time(df)
df=get_stochastic(df)
df=get_MA(df)
# convert nparray

nparr = df.values
nparr.astype('float32')
print(nparr)

[[13130.92       13205.17       13205.17       ...    72.18376706
  12654.72115385 13154.59730769]
 [12833.51       13157.9        13157.9        ...    76.26544459
  12639.53692308 13112.11076923]
 [13447.42       13001.55       13451.02       ...    81.55327893
  12635.41192308 13071.42057692]
 ...
 [21886.48       21564.33       21893.42       ...    71.40441472
  21174.43846154 20786.30038462]
 [21999.08       22209.19       22250.35       ...    76.7200485
  21218.59384615 20809.42826923]
 [21929.9        22138.06       22143.01       ...    79.62639797
  21251.68384615 20837.02692308]]

In [44]:
# normalization
scaler = MinMaxScaler(feature_range=(0, 1))
nptf = scaler.fit_transform(nparr)

In [45]:
# 값과 이평선 비교하기 ----------------

MA_26=df["Close"].rolling(26).mean()
y_before=MA_26.dropna()
df_before=df["Close"][25:]
y=np.where(df_before.shift(-1)>y_before.shift(-1),1,0)
X=nptf[25:]

In [46]:
# split train, test
train_size = int(len(nptf) * 0.7)
y_train2=y[:train_size]
y_test2=y[train_size:]
X_train2 = X[:train_size]
X_test2 = X[train_size:]

In [47]:
# reshape input to be [samples, time steps, features]
X_train = np.reshape(X_train2, (X_train2.shape[0], 1, X_train2.shape[1]))
X_test = np.reshape(X_test2, (X_test2.shape[0], 1, X_test2.shape[1]))
y_train=y_train2
y_test=y_test2

In [51]:
# simple lstm network learning
model = Sequential()
model.add(LSTM(8, input_shape=(1, 12)))
for i in range(5):
    model.add(Dense(4,activation='sigmoid'))
model.add(Dense(1,activation='sigmoid'))
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['acc'])
model.fit(X_train, y_train, epochs=10, batch_size=16,validation_split=0.1)
model.evaluate(X_test,y_test)

Train on 93 samples, validate on 11 samples
Epoch 1/10
93/93 [==============================] - 1s 14ms/step - loss: 0.7287 - acc: 0.2473 - val_loss: 0.7543 - val_acc: 0.0000e+00
Epoch 2/10
93/93 [==============================] - 0s 332us/step - loss: 0.7224 - acc: 0.2473 - val_loss: 0.7420 - val_acc: 0.0000e+00
Epoch 3/10
93/93 [==============================] - 0s 331us/step - loss: 0.7156 - acc: 0.2473 - val_loss: 0.7303 - val_acc: 0.0000e+00
Epoch 4/10
93/93 [==============================] - 0s 353us/step - loss: 0.7100 - acc: 0.2473 - val_loss: 0.7183 - val_acc: 0.0000e+00
Epoch 5/10
93/93 [==============================] - 0s 365us/step - loss: 0.7040 - acc: 0.2473 - val_loss: 0.7068 - val_acc: 0.0000e+00
Epoch 6/10
93/93 [==============================] - 0s 343us/step - loss: 0.6980 - acc: 0.2473 - val_loss: 0.6958 - val_acc: 0.0000e+00
Epoch 7/10
93/93 [==============================] - 0s 332us/step - loss: 0.6922 - acc: 0.6882 - val_loss: 0.6855 - val_acc: 1.0000
Epoch 8/10
93/93 [==============================] - 0s 322us/step - loss: 0.6870 - acc: 0.7527 - val_loss: 0.6751 - val_acc: 1.0000
Epoch 9/10
93/93 [==============================] - 0s 339us/step - loss: 0.6820 - acc: 0.7527 - val_loss: 0.6648 - val_acc: 1.0000
Epoch 10/10
93/93 [==============================] - 0s 365us/step - loss: 0.6769 - acc: 0.7527 - val_loss: 0.6549 - val_acc: 1.0000
20/20 [==============================] - 0s 100us/step

[0.6744173765182495, 0.75]

In [52]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,np.where(model.predict(X_test)>0.5,1,0))

0.75

In [53]:
model.predict(X_test)

array([[0.5194838 ],
       [0.5194842 ],
       [0.519484  ],
       [0.5194822 ],
       [0.5194802 ],
       [0.519476  ],
       [0.5194745 ],
       [0.51947254],
       [0.5194716 ],
       [0.5194689 ],
       [0.5194679 ],
       [0.5194677 ],
       [0.51946944],
       [0.5194725 ],
       [0.5194757 ],
       [0.51947755],
       [0.51947933],
       [0.51948154],
       [0.51948303],
       [0.5194834 ]], dtype=float32)

In [33]:
from sklearn.metrics import confusion_matrix
print(confusion_matrix(y_test,np.where(model.predict(X_test)>0.5,1,0)))

[[251  46]
 [ 61 344]]

In [12]:
MA_26=df["Close"].rolling(26).mean()
MA_26=MA_26.dropna()
MA_26.shape

(2398,)

In [13]:
pandf.shape

(2474, 6)

In [14]:
MA_26.shape

(2398,)

In [15]:
X_train2.shape

(1696, 12)